body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
}

.about-container{
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-header {
    max-width: 1100px;
font-family: 'Heebo';
    color: rgb(0, 0, 0);
    font-style: normal;
font-weight: 900;
    font-size: 85px;
    line-height: 1;
    letter-spacing: 7px;
    text-align: center;
    /* border: 1px solid #000000; */
}

.about-paragraph {
max-width: 800px;
    margin-top: 10px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
display: flex;
align-items: center;
    text-align: center;
   

color: #000000;
/* border: 1px solid #000000; */

}

.about-gradient {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    
    background: linear-gradient(to right, rgb(96, 228, 132),rgb(161, 237, 167), rgb(65, 173, 65),rgb(148, 155, 255), rgb(89, 127, 218));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-items:flex-end;
}