@import url('https://fonts.cdnfonts.com/css/trench');

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}


.about-container{
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 96vh;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}
.about-accent{
    width: 60px;
  height: 5px;
  background: linear-gradient(to right, rgb(96, 228, 132),rgb(161, 237, 167), rgb(65, 173, 65),rgb(148, 155, 255), rgb(89, 127, 218)); ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.1rem;
}
.about-header {
    max-width: 1100px;
    font-family: 'Trench', sans-serif;
    color: #fff;
    font-style: normal;
font-weight: 900;
    font-size: 85px;
    line-height: 1;
    letter-spacing: 7px;
    text-align: center;
    /* border: 1px solid #000000; */
}

.about-paragraph {
max-width: 800px;
    margin-top: 10px;
    font-family: 'Trench', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 46px;
display: flex;
align-items: center;
    text-align: center;
   

color: #fff;
/* border: 1px solid #000000; */

}


