@import url('http://fonts.cdnfonts.com/css/trench');

html {
    height: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: 'Trench', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
  }
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  .margin-bottom-xlarge {
    margin-bottom: 56px;
  }

  .timeline_date-text {
    position: sticky;
    top: 50vh;
    color: #fff;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.03em;
  }
  
  .timeline_progress {
    position: absolute;
    z-index: -2;
    width: 3px;
    height: 100%;
    background-color: #414141;
  }
  
  .link-icon {
    width: 200px;
    height: 200px;
    margin-left: 8px;
  }
  
  .page-wrapper {
    position: relative;
    z-index: 0;
  }
  
  .timeline_item {
    position: relative;
    z-index: 2;
    display: grid;
    padding-top: 80px;
    padding-bottom: 80px;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr 180px 1fr;
    grid-template-rows: auto;
  }
  
  .timeline_component {
    position: relative;
    display: flex;
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .timeline_centre {
    display: flex;
    justify-content: center;
  }
  
  .timeline_left {
    justify-content: flex-end;
    align-items: stretch;
    text-align: right;
  }
  
  .timeline_text {
    color: #fff;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .timeline_progress-bar {
    position: fixed;
    left: auto;
    top: 0px;
    right: auto;
    bottom: 50vh;
    z-index: -1;
    width: 3px;
    height: 50vh;
    background-color: #fff;
    background-image: linear-gradient(180deg, #ff7448, #ff4848 51%, #6248ff);
  }
  
  .margin-bottom-medium {
    margin-bottom: 32px;
  }
  
  .timeline_image-wrapper {
    overflow: hidden;
    border-radius: 12px;
    background-image: linear-gradient(138deg, #000, transparent 28%), url('../images/Image-Background.png');
    background-position: 0px 0px, 0px 0px;
    background-size: auto, cover;
  }
  
  .timeline_circle {
    position: sticky;
    top: 50vh;
    width: 15px;
    height: 15px;
    max-height: 15px;
    max-width: 15px;
    min-height: 15px;
    min-width: 15px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 8px #0a0a0a;
  }
  
  .container-t {
    width: 90vw;
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .section-timeline {
    position: relative;
    z-index: -3;
    background-color: #0a0a0a;
  }
  

  @media screen and (max-width: 767px) {
    .margin-bottom-xlarge {
      margin-bottom: 48px;
    }

    .timeline_date-text {
      margin-bottom: 24px;
      font-size: 36px;
    }
  
    .timeline_progress {
      left: 6px;
    }
  
    .timeline_item {
      width: 100%;
      grid-template-columns: 64px 1fr;
    }
  
    .timeline_centre {
      justify-content: flex-start;
    }

    .timeline_left {
      text-align: left;
    }
  
    .timeline_text {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .timeline_item {
      grid-template-columns: 48px 1fr;
    }
  
    .margin-bottom-medium {
      margin-bottom: 24px;
    }
  }
  
  @media screen and (max-width: 767px) {
    #a {
      grid-column-end: 3;
      grid-column-start: 2;
      grid-row-end: 2;
      grid-row-start: 1;
    }
  
    #b {
      grid-column-end: 2;
      grid-column-start: 1;
      grid-row-end: 3;
      grid-row-start: 1;
    }
  
    #c {
      grid-column-end: span 1;
      grid-column-start: span 1;
      grid-row-end: span 1;
      grid-row-start: span 1;
    }
  
  }