{% extends "base.html" %} {% block head %}
<title>Cyber Sapiens About Us</title>
<link
  type="text/css"
  href="{{url_for('static', filename='../static/styles/about.css')}}"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<div class="about-container">
  <h1 class="about-header">The story of how we ended up MLH fellows</h1>

  <p class="about-paragraph">
    We are proficient in all aspects of development, from front-end to back-end.
    Our experience ranges from machine learning to web development to DevOps.
    <br />
    <br />
    In this portfolio, you will find an example of every project we've worked on
    - from the small to the big ones. We hope that you enjoy scrolling through
    it as much as we did while working on them!
    <br />
    <br />
    Scroll through our website and witness what we've accomplished!
  </p>

  <div class="about-gradient"></div>
</div>

{% endblock %}
