<!DOCTYPE html>
<html>
  <body>
    <!-- Insert navigation bar
    HTML below -->
    <div class="navbar-2">
      <div class="container w-container">
         <a href="/" class="logo"><img src="../static/img/favicon.ico"></a>
         <nav class="nav w-nav-menu">
          <a href="/" class="nav-component w-nav-link">Home</a>
            <a href="/about" class="nav-component w-nav-link">About Us</a>
            <a href="timeline" class="nav-component w-nav-link">Our Timeline</a>
         </nav>
      </div>
   </div>
    {% block content %}
    {% endblock %}
  </body>
</html>