{% extends "base.html" %}
{% block head %}
        <title>Cyber Sapiens Home</title>
        <link type="text/css" href="{{url_for('static', filename='../static/styles/index.css')}}" rel='stylesheet' />
    {% endblock %}
{% block content %}
<div class="hero-section">
    <video autoplay muted loop playsinline preload="auto" class="video">
        <source src="../static/vid/cyber.mp4" type="video/mp4">
    </video>
    <div class="hero-wrapper">

       <h1 class="hero-heading">{{title}}<br>3.0<br></h1>
       <p class="hero-paragraph">Welcome to our portfolio</p>
    </div>
 </div>

{% endblock %}